body {
  font-family: 'Courier New';
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.chatBox {
  overflow-y: scroll;
  height: 20vh;
}

.canvas {
  height: 85px;
  width: 180px;
  padding: 5%;
  border: 3px solid black;
}

#gamepage {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

#game-placeholder {
  height: 60vh;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: black;
  background-color: yellow;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: black;
  background-color: yellow;
}

.home-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header,
#header-sub {
  text-align: left;
  font-family: 'impact';
}

#header-sub {
  font-size: x-large;
}

.main-btn {
  margin: 30px;
  border-color: black;
  color: black;
}

.main-btn-text {
  color: black;
}

.main-btn-text:hover {
  color: black;
}

.waiting-room-game {
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  align-self: center;
  text-align: center;
  height: 10vh;
  align-content: center;
}

.waiting-make-game {
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  align-self: center;
  text-align: center;
  height: 20vh;
  align-content: center;
}

.waiting-room-list {
  justify-content: center;
  width: 100vw;
}

.waiting-room-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: black;
  background-color: yellow;
}

.game-join-link {
  color: black;
  padding-bottom: 10px;
}

.game-join-link:hover {
  color: white;
  padding-bottom: 10px;
}

.game-name {
  padding-top: 20px;
  font-size: 24px;
}

.gamenamelabel {
  text-align: center;
}
